.markdown {
    @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
    @apply my-6;
}

.markdown h2 {
    @apply text-3xl my-4 leading-snug font-semibold;
}

.markdown h3 {
    @apply text-2xl mt-8 mb-4 leading-snug font-medium;
}

.markdown ul {
    @apply list-disc list-inside my-6;
}

.markdown blockquote {
    @apply p-4 italic border-l-4 bg-gray-100 text-gray-600 dark:text-gray-300 dark:border-gray-500;
}


.markdown blockquote p {
    @apply my-2
}
:global(.dark) .markdown blockquote {
    @apply bg-gray-800 text-gray-300;
}

.markdown blockquote::before {
    @apply block text-gray-400;
    content: open-quote;
}

:global(.dark) .markdown blockquote::before {
    @apply block text-gray-500;
    content: open-quote;
}

.markdown blockquote::after {
    @apply block text-gray-400;
    content: close-quote;
}

:global(.dark) .markdown blockquote::after {
    @apply block text-gray-500;
    content: close-quote;
}