@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
html {
  overflow: hidden;
} */
/* 
html,
body {
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
  width: 100%;
  background-color: white;
} */

html, body, #__next {
  background-color: white;
  width: 100%;
}

:global(.dark) html, :global(.dark) body, :global(.dark) #__next {
    background-color: rgb(19, 23, 39);
}

body {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

main {
  flex: 1;
}

.popup {
  z-index: 9999;
}

.h-dscreen {
  height: 100vh;
  height: 100dvh;
}

@layer base {
  body {
    @apply text-black dark:text-white dark:bg-gray-900 bg-white font-sans text-base;
  }
  .navbar-link {
    @apply text-medium whitespace-nowrap box-border active:scale-[0.97] list-none data-[active=true]:font-semibold flex relative h-full items-center data-[active=true]:after:content-[''] data-[active=true]:after:absolute data-[active=true]:after:bottom-0 data-[active=true]:after:left-0 data-[active=true]:after:right-0 md:data-[active=true]:after:h-[2px] md:data-[active=true]:after:rounded-[2px] data-[active=true]:after:bg-primary;
  }
}

.navbar-link[data-menu-open='true'] {
  transform: scale(0.97)
}

a {
  @apply text-blue-500;
}

.progress {
  height: 0.2rem;
  position: fixed;
  left: 0;
  width: 0%;
  transform-origin: 0 50%;
}

.popup {
  z-index: 9999;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}

.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) ' ';

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}

.grow-wrap>textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow-x: hidden;
}

.grow-wrap>textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  border: 1px solid transparent;
  padding: 0.5rem;
  font: inherit;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

@keyframes checkmark {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-checkmark {
  animation: checkmark 1s ease-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.shake-animation {
  animation: shake 0.5s;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.loading-bar {
  animation: loading-bar 2s linear infinite;
}

@keyframes loading-bar {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.progress {
  height: 0.2rem;
  --tw-bg-opacity: 1;
  background: rgb(37 99 235 / var(--tw-bg-opacity));
  position: fixed;
  left: 0;
  width: 0%;
  transform-origin: 0 50%;
}

/* menu toggle */
.menu-toggle {
  position: relative;
  width: 24px;
  height: 2px;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
.menu-toggle:hover {
  cursor: pointer;
  background: transparent;
}

.menu-toggle::before,
.menu-toggle::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  transition: all 0.3s ease-in-out;
}

.menu-toggle::before {
    top: 0;
    transform: translateY(-5px);
}

.menu-toggle::after {
    bottom: 0;
    transform: translateY(5px);
}

.menu-toggle[data-menu-opened='true'] {
  background: transparent;
}

.menu-toggle[data-menu-opened='true']::before {
  transform: rotate(45deg);
  top: 0;
}

.menu-toggle[data-menu-opened='true']::after {
  transform: rotate(-45deg);
  bottom: 0;
}

/* navbar dropdown */
.navbar-dropdown {
  position: relative;
  display: inline-block;
  padding: 5px;
  padding-top: 6px;
  transform: rotate(90deg) scale(0.7);
}

.navbar-dropdown::before,
.navbar-dropdown::after {
  content: '';
  position: absolute;
  right: 0;
  width: 10px;
  height: 2px;
  background: black;
  transition: all 0.3s ease-in-out;
}

.navbar-dropdown[data-menu-opened='true']::before {
  transform: translateY(3px) rotate(45deg);
}

.navbar-dropdown[data-menu-opened='true']::after {
  transform: translateY(-3px) rotate(-45deg);
}

.navbar-dropdown[data-menu-opened='false']::before,
.navbar-dropdown:hover::before {
  transform: translateY(-3px) rotate(45deg);
}

.navbar-dropdown[data-menu-opened='false']::after,
.navbar-dropdown:hover::after {
  transform: translateY(3px) rotate(-45deg);
}
